* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
    font-smooth: auto;
    -webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font-family: 'Source Sans Pro Regular', 'Open Sans', 'Liberation Sans', 'Nimbus Sans L', 'Trebuchet MS', 'Arial';
    font-weight: 300;
    color: #555;
    background-color: hsl(0, 10%, 25%);
}

.break {
    /*background-color: hsl(96, 63%, 56%)*/
    background-color: #83EEA1;
}

.work {
    /*background-color: hsl(9, 80%, 63%);*/
    background-color: hsl(9, 80%, 60%);
}

.logo {
    /*background-color: #333;*/
    font-family: 'Lobster';
    font-size: 6rem;
    margin-top: 1rem;
    padding: 1rem;
    text-shadow: 0.3rem 0.3rem hsl(0, 12%, 24%);
}


.sentence {
    font-size: 2rem;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.row {
    width: auto;
    /*border: 1px solid blue;*/
}

.flex-item {
    /*background-color: hsl(0, 100%, 63%);*/
    /*padding: 2rem;*/
    /*margin: 0;*/
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding: 2rem;
}

button {
    transition: all 400ms;
    background-color: #333;
    padding: 1rem;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

button:hover {
    border: none;
    background: hsl(0, 0%, 10%);
    /*box-shadow: 0px 0px 1px #777;*/
}

.circle{
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
	border-top: 0.2rem solid hsl(0, 20%, 24%);
	border-left: 0.4rem solid hsl(0, 20%, 24%);
	border-right: 0.4rem solid hsl(0, 20%, 24%);
	border-bottom: 0.2rem solid hsl(0, 20%, 24%);


	text-align: center;
	vertical-align: middle;
	line-height: 19rem;
	font-size: 7rem;
	display: inline-block;
}
